// colors
$black: rgb(17, 17, 17);
$black-transparent:rgba(17, 17, 17, 0.95);
$darkgrey: rgb(77, 77, 77);
$lightgrey: rgb(233, 233, 233);
$blue: rgb(24, 171, 254);
$blue-transparent: rgb(25, 139, 254, .9);
$red: #eb1646;
$white: #fff

// other