@import "./stylesheets/variables";

/**** Tag Styles *****/
  
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  color: $black;
  white-space: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  .main-body {
    height: 100%;
  }
  a {
    text-decoration: none;
    font-weight: 500;
  }
  a:hover {
    text-decoration: underline;
  }
  h1 {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  h2 {
    border-bottom: 1px solid;
  }
  h3 {
    margin: 0;
  }
  h4 {
    margin: 10px 0;
  }
  #testing-list {
    ul {
      list-style: none;
    }
    li {
      margin: .5rem 0;
    }
  }
  .tech-icon {
    display: inline-block;
    height: 2rem;
  }
  code {
    font-family: 'Fira Code', -apple-system, BlinkMacSystemFont, monospace;
    font-weight: lighter;
    color: $darkgrey;

    .curly-symbol {
      font-family: 'Fira Code', monospace;
    }
  }
  .bold-word {
    font-weight: 600;
  }
}

#splash {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    #splash-logo {
      display: inline-block;
    }
    h1 {
      text-align: center;
      color: $blue;
      margin-bottom: 0;
    }
    p {
      font-style: italic;
      font-weight: 400;
      color: $darkgrey;
    }
  }
  section {
    * {
      color: $blue;
    }
  }
  pre {
    border: 2px solid $blue;
    box-shadow: .5em .5em $darkgrey;
  }
}

.main-container {
  width: 100%;
  min-height: 100%;
  margin: 0;
  
  // display: grid;
  // grid-template-columns: 15% 85%;
  display: flex;
}

#openbtn {
  position: fixed;
  z-index: 2;
  color: $white;
  background-color: $blue-transparent;
  border: none;
  * {
    color: $white;
  }
}
#openbtn:hover {
  color: orange;
  // font-size: 2.1rem;
}

.sv-navbar {
  * {
    display: none;
  }
  padding: 4em 0em 1em 1em;
  height: 100%; // 100% Full-height
  width: 0; // 0 width - change this with JavaScript
  position: sticky; // Stay in place
  z-index: 1; // Stay on top
  top: 0;
  left: 0;
  overflow: hidden; // Disable scroll
  transition: 0.5s; // 0.5 second transition effect to slide in the sidebar
  
  a { // sidebar links
    display: block;
    margin: 0;
    padding: .5rem 0 ;
    transition: 0.3s;
  }
  img.svvell-logo {
    width: 80%;
    max-width: 200px;
    // width: 200px;
    height: auto;
    margin: 0;
  }
  .sv-navbar-subheader {
    color: $white;
    font-size: large;
    padding-left: .6rem;
  }
  .sv-navbar-section {

  }
  a {
    color: $white;
  }
  li {
    list-style: none;
    // margin: .3rem;
  }
}
.open {
  * {
    display: initial;
  }
  min-width: 250px;
  max-width: 480px;
  min-height: 100vh;
  background-color: $blue-transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  a {
    font-size: 1rem;
  }
  position: fixed;
}

.page-component {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  a {
    color: $blue;
  }
  header {
    .resource-links-list {
      padding: 0
    }
    li {
      list-style: none;
    }
  }
  section {
    margin-bottom: 1rem;
  }
  .example-code {
    margin-bottom: 1.5rem;
  }
  .options-object-list {
    li {
      margin-left: 20px;
    }
    h4 {
      margin-left: -15px
    }
    line-height: 1.3;
  }
  pre {
    width: 100%;
    background-color: $lightgrey;
    border-radius: 0.5em;
    margin: 0;
    padding: 0;
    white-space: pre;
  }
  code {
    white-space: pre;
    display: inline-block;
    margin: 1em;
    padding: 0;
    padding-left: 1em;
  }
  fieldset {
    border: none;
    margin: 0;
    padding-left: 0;
    width: 100%;
  }
  table {
    display: flexbox;
    width: 100%;
    margin-bottom: 3rem;
    
    * {
      font-weight: 100;
    }
    thead {
      background-color: #eee;
      text-align: left;
    }
  }
  legend {
    display: none;
  }
  p {
    margin: .7rem 0;
  }
}

/********* Cell Phone Style **********/
@media screen and (max-width: 667px) {
  code {
    white-space: pre;
  }
  #openbtn {
    font-size: 1.5rem;
  }
  #splash {
    header {
      text-align: center;
      #splash-logo {
        height: .85em;
      }
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 1.1rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
      }
    }
    
    li {
      list-style: none;
    }
  }
  .page-component {
    margin: 0 1.5rem;
    .sv-accordion-item {
      width: 100%;
    }
  }
  a {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
  h1 {
    padding-top: 1rem;
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
    margin: 0 0 .7rem 0;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  ul {
    font-size: 14px;
    padding-left: .6rem;
  }
  li {
    font-size: 14px;
  }
  .code-block {
    font-size: 12px;
  }
  .curly-symbol {
    font-size: 12px;
  }
  .header-button {
    font-size: 14px;
  }
  .props-table {
    font-size: 14px;
  }
}

/************* Tablet and Computer Styles **********/
@media screen and (min-width: 668px) {
  #openbtn {
    font-size: 2rem;
  }
  #splash {
    header {
      #splash-logo {
        height: 7rem;
      }
      h1 {
        font-size: 8rem;
      }
      p {
        text-indent: 3em;
        font-size: 1.5rem;
        // padding-left: 3rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
        width: 80%;
      }
    }
  }

  .page-component {
    margin: 0 8rem;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 36px;
    margin: 0;
    margin-bottom: .5rem;
  }
  h3 {
    font-size: 28px;
  }
  h4,
  .navbar-subheader {
    font-size: 20px;
  }
  p,
  .props-table,
  .header-button {
    font-size: 16px;
  }
  ul {
    // padding-left: 20px;
    padding-left: 1rem;
  }
  .code-block {
    font-size: 14px;
  }
}